body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


/*CSS för hamburgarmenyn och hover-effekter */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 20px;
}

/* Media query för att göra navigeringen responsiv och visa hamburgarmenyn */
@media (max-width: 768px) {
  .nav-links {
    display: none;
   
  }

  .menu-icon {
    display: flex;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
  }

  .nav-links.active li {
    margin: 10px 0;
  }
}

/* hover-effekter på bilder och knappar */
.button:hover,
.catGrid img:hover {
  background-color: #777;
  transform: scale(1.05);
  transition: 0.3s;
}